<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="assets/posts.js"></script>
</head>

<!--%= yield %-->
<body ng-app="redditClone">
  <ui-view></ui-view>
  <!--Template for posts page-->
</body>
</html>
